<h1>Create a Pirate</h1>

<form action="/pirates" method="POST">
  <label>Pirate Name: <input type="text" name="pirate[name]">
  <label>Pirate Weight: <input type="text" name="pirate[weight]">
  <label>Pirate Height: <input type="text" name="pirate[height]">
  <label>Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label>Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label>Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <label>Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label>Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label>Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit"/>
</form>
